@font-face {
    font-family: panthera;
    src: url(./assets/police/panthera.otf);
}
@font-face {
    font-family: wakanda forever;
    src: url(./assets/police/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: cantarell;
    src: url(./assets/police/Cantarell-Regular.ttf);
}
@font-face {
    font-family: beyno;
    src: url(./assets/police/beyno-regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: panthera;
    font-size: 68px;
    font-weight: 400;
}
h2{
    font-family: beyno;
    font-size: 32px;
    font-weight: 400; 
}
.footer{
    font-family: cantarell;
    font-size: 10px;
    font-weight: 400; 
}
.container{
    width: 80%; 
}
p{
    font-family: cantarell;
    font-size: 16px;
    font-weight: 400;  
}
body{
    background-color: #3D2DA6;
    color: #FFFFFF;
}
:root{
    --white-color:#FFFFFF;
    --white-color:#F2CEF2;
    --grey:#9E91B7 ;
    --purple:#3D2DA6;
    --blue:#07338C;
    --blue:#021740;

}
  

/*design de l'en-tête*/

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 30px;
    top: 230px;
    
}
.scroll.social{
    margin-top: 15px;
}
.ligne longue{
    content: "";
    border-left: 3px solid var(--light-violet);
    position: fixed;
    top: 0;
    width: 1px;
    height: 60%;
    left: 60px;
  }
  .ligne courte{
    content: "";
    border-left: 3px solid var(--light-violet);
    position: fixed;
    top: 0;
    width: 1px;
    height: 83%;
    left: 40px;
  }

header.icon{
    position: absolute;
    left: 10px;
    top:0px;

}
/*positionnement de la navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 500px;
}
nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 100px;
    text-decoration: underline;
    
}
a{
    color: white;  
    font-weight: bold;
    font-family: beyno;
    font-size: 20px;
    float: right;
    margin-left: 50px;

}
.icon{
    padding-left: 80px;
}
   
header.nav{
    position: absolute;
    top: 50px;
    left: 0;
}
/*mise en forme des titres et texte*/
#texte{
margin-left: 150px;

}
.titre{
    font-family: panthera;
    font-size: 68px;
    font-weight: 400;
    color:#9E91B7 ;
    text-align: left;
}
.titre2{
    font-family: beyno;
    font-size: 32px;
    font-weight: 400; 
    color:#9E91B7 ;
    margin-bottom: 20px;
    text-align: left;
        }
p{
    font-family: cantarell;
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 20px;
    text-align: left;
        }
 .btn{
            text-decoration: underline;
            color: #FFFFFF;
            font-size: 15px;
            font-family: cantarella;
             font-weight: 400;
             margin-top: 200 px;
        margin-left: 2px;
            float:  left;
        }
        .Panthermasqué{
            margin-left: 500px;
            margin-top: -500px;      
            width: 50%;
        }
        /* 1ere partie bande d'annonce*/
        
        #BlackPanther-personnage{
            display: flex;
            justify-content: space-between;
            margin-top: -200px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 100px;
            width: auto;
            

            }
            .BlackPanther-item{
            display: flex;
            justify-content: space-between;
            margin-top: -350px; 
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 100px;
            margin-right: 5px;
            margin-left: 30px;
            width: auto;
            }
            .BlackPanther-info{
                margin-left: 30px
            }
        .back_footer{
            width: 20px;
            margin-top: -200px;
            }
            


        




