@font-face {
    font-family: panthera;
    src: url(./assets/police/panthera.otf);
}
@font-face {
    font-family: wakanda forever;
    src: url(./assets/police/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: cantarell;
    src: url(./assets/police/Cantarell-Regular.ttf);
}
@font-face {
    font-family: beyno;
    src: url(./assets/police/beyno-regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: panthera;
    font-size: 68px;
    font-weight: 400;
    color: #FFFFFF;
}
h2{
    font-family: beyno;
    font-size: 32px;
    font-weight: 400; 
    color: #FFFFFF
}
.footer{
    font-family: cantarell;
    font-size: 10px;
    font-weight: 400; 
    color: #FFFFFF
}
.container{
    width: 80%; 
}
p{
    font-family: cantarell;
    font-size: 16px;
    font-weight: 400;  
    color: #FFFFFF
}
body{
    
    background-color:#021740 ;
}
:root{
    --white-color:#FFFFFF;
    --white-color:#F2CEF2;
    --grey:#9E91B7 ;
    --purple:#3D2DA6;
    --blue:#07338C;
    --blue:#021740;

}
  

/*design de l'en-tête*/

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 5%;
    top: 30%;
    
}
.scroll.social:hover{
    margin-top: 15px;
    color: #FFFFFF;
}


header.icon{
    position: absolute;
    left: 10%;
    top:0px;
    right: 20%;
    
}
/*positionnement de la navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 20%;
    
}
nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    
    text-decoration: underline;
    
}
.menu{
    margin-left: 20%;
}
a{
    color: white;  
    font-weight: bold;
    font-family: beyno;
    font-size: 20px;
    float: right;
    margin-left: 50px;

}
.icon:hover{
    padding-left: 20%;
    color: #3D2DA6;
}
   
header.nav{
    position: absolute;
    top: 5%;
    left: 0;
}
/*mise en forme des titres et texte*/
#texte{
margin-left: 150px;

}
.titre{
    font-family: panthera;
    font-size: 68px;
    font-weight: 400;
    color:#9E91B7 ;
    text-align: left;
}
.titre2{
    font-family: beyno;
    font-size: 32px;
    font-weight: 400; 
    color:#9E91B7 ;
    margin-bottom: 20px;
    text-align: left;
        }
p{
    font-family: cantarell;
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 20px;
    text-align: left;
        }
 .voir{
            text-decoration: underline;
            color: #FFFFFF;
            font-size: 15px;
            font-family: cantarella;
             font-weight: 400;
             margin-top: 200 px;
        margin-left: 2px;
            float:  left;
        }
        .Panthermasqué{
            margin-left: 500px;
            margin-top: -500px;      
            width: 50%;
        }
        /* 1ere partie bande d'annonce*/
        
        #BlackPanther-personnage{
            display: flex;
            justify-content: space-between;
            margin-top: -200px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 100px;
            width: auto;
            

            }
            .BlackPanther-item{
            display: flex;
            justify-content: space-between;
            margin-top: -350px; 
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 100px;
            margin-right: 5px;
            margin-left: 30px;
            width: auto;
            }
            .BlackPanther-info{
                margin-left: 30px
            }
        .back_footer{
           height: 2%;
            margin-top: -200px;
            }
            #BlackPanther-personnage{
                display: flex;
             
            }
            .BlackPanther-info{
                margin-top: -250px;
            }
            .BlackPanther-info2{
                margin-bottom: 50px;
                margin-top: -400px;
                width: 100%;
            }
            h2{
                color:#9E91B7;
            }
            /* la biographie */
            #biographie .lapartiedroite{
                margin-left: 1300px;
                margin-top: -50px;      
                }
                                
            #encadré {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                height: 500px;
                border: 2px solid #FFFFFF ;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                background-color: #FFFFFF;
            }
            .text{
                color: black;
                text-align: center;
                font-size: 20px;
                margin-bottom: 5%;
            }
            .bouton{
                margin-left: 23%;
            }
            .btn{
                 padding: 1%;
                 justify-content: space-around;
                 text-decoration-style: none;
                 display: inline;
                 background-color: #3D2DA6;
                 font-style: var(--white-color);
                 border-top-right-radius: 3%;
                border-bottom-left-radius: 3%;
                border-bottom-right-radius: 3%;
                border-top-left-radius: 3%;
            }
            
           
            .info{
                margin-top: 2%;
                color: #021740;
                text-align: left;
                margin-left: 23%;
            }
            .Panthernomask{
                margin-bottom: -100px;
                margin-left: 80%;
            }

            #biographie .textebiographie{
                text-align: justify;
                margin-left: 150px;
             margin-top: -1300px;        
            }
            h2{
                margin-top: 15px;
                margin-bottom: 15px;
            }
            p{
                margin-top: 15px;
                margin-bottom: 15px;
                color: #FFFFFF
            }
            /*le formulaire*/
            .background{
                background-image: url("./assets/Illustrations\ +\ Logo/Accueil/Pantherhome7.png");
            }
            #leformulaire{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 800px;
                height: 500px;
                border: 2px solid #FFFFFF ;
                border-top-right-radius: 80px;
                border-bottom-left-radius: 80px;
                border-bottom-right-radius: 80px;
                border-top-left-radius: 80px;
                background-color: #FFFFFF;
                margin-left: 25%;
                margin-top: -50%; 
                
              
            }
            #leformulaire .position{
                text-align: center;
                margin: 5%;
            }
            .title1{
                color: #021740;
            }
            .title2{
                color: #021740;
                font-size: 200%;
                letter-spacing: 4px;
            }
            .rubriques{
                margin: 5%;
                margin-top: 3%;
                
            }
            .item1{
                margin: 3%;
            
            }
            .item2{
                margin: 3%;
            }
            .item3{
                margin: 3%;
            }
            .item4{
                margin: 3%;
            }
            /* le footer */
            
           
               #footer{
                display: flex;
                margin-top: 10%; 
                background: #021740; 
            
              
               }
               #footer .icon2{
                margin-top: 15%;
                margin-left: 25%;
               }
               #footer .icon3{
                margin-top: 2%;
                margin-left: -17%;
               }
               #footer p{
                font-size: 20px;
                text-transform: uppercase;
                margin-right: 2%;
               }
               .pages{
                margin-left: 5%;
                margin-right: 20%;
               }
               .btn:hover{
                margin-top: 50%;
                color: #FFFFFF;
               }
               .social-footer{
                display: flex;
                flex-direction: row;
                margin-top: 7%;
                margin-left: -15%;
               }
               h4{
                margin-top: 25%;
                margin-left: -45%;
                color: #FFFFFF;
            
                
               }
                         
            
           
            



        




