@font-face {
    font-family: panthera;
    src: url(./assets/police/panthera.otf);
}

/*design de l'en-tête*/
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 30px;
    top: 230px;
}
.scroll.social{
    margin-top: 15px;
}
header.icon{
    padding: 15px;

}

