@font-face {
    font-family: panthera;
    src: url(./assets/police/panthera.otf);
}
@font-face {
    font-family: wakanda forever;
    src: url(./assets/police/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: cantarell;
    src: url(./assets/police/Cantarell-Regular.ttf);
}
@font-face {
    font-family: beyno;
    src: url(./assets/police/beyno-regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: panthera;
    font-size: 68px;
    font-weight: 400;
}
h2{
    font-family: beyno;
    font-size: 32px;
    font-weight: 400; 
}
h3{
    font-family: beyno;
    font-size: 25px;
    font-weight: 400;
}
.textenigme{
    font-family: wakanda forever;
    font-size: 43px;
    font-weight: 400;
}
.footer{
    font-family: cantarell;
    font-size: 10px;
    font-weight: 400; 
}
.container{
    width: 80%;
}
p{
    font-family: cantarell;
    font-size: 16px;
    font-weight: 400;  
}
body{
    background-color: #3D2DA6;
    color: #FFFFFF;
}
:root{
    --white-color:#FFFFFF;
    --white-color:#F2CEF2;
    --gray:#9E91B7 ;
    --purple:#3D2DA6;
    --blue:#07338C;
    --blue:#021740;

}
/*positionnement de la navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 500px;
}
nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 100px;
    text-decoration: underline;
    
}
a{
    color: white;  
    font-weight: bold;
    font-family: beyno;
    font-size: 20px;
    float: right;
    margin-left: 50px;

}
.icon{
    padding-left: 80px;
}





    
header.nav{
    position: absolute;
    top: 50px;
    left: 0;
}

